<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Clicktripz Automation Test Suite">
  <parameter name="state" value="headless"></parameter>
  <test thread-count="5" name="Hotel Citywide Test">
    <classes>
      <class name="test.HotelCitywideTest"/>
    </classes>
  </test> <!-- Hotel Citywide Test -->
  <test thread-count="5" name="Flights Test">
    <classes>
      <class name="test.FlightsTest"/>
    </classes>
  </test> <!-- Flights Test -->
</suite> <!-- Suite -->
